<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>stock-analysis</title>

	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>

	<script src="{{ url_for('static', filename='js/endpoint.js') }}"></script>
	<script src="{{ url_for('static', filename='js/stock.js') }}"></script>
	<script src="{{ url_for('static', filename='js/analysis.js') }}"></script>
	<script src="{{ url_for('static', filename='js/ticker_chart.js') }}"></script>
	<script src="{{ url_for('static', filename='js/get.js') }}"></script>

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-AMS_HTML"></script>

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">

	<!-- If not logged go to login page -->
	<script>
		let user = JSON.parse(sessionStorage.getItem('user'));
		if(user == null) {
			window.location.replace("{{ url_for('index') }}");
		}
	</script>

</head>
<body>

	<header>
	<!-- Fixed navbar -->
		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
			<div class="container-fluid">
				<div>
					<a class="navbar-brand" href="/home">STOCK ANALYSIS</a>
				</div>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarCollapse">
					<ul class="navbar-nav me-auto mb-2 mb-md-0">
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="/home">Home</a>
						</li>
						<li class="nav-item">
							<a id="name-link" class="nav-link disabled" aria-disabled="true"></a>
						</li>
					</ul>
			
					<div class="flex-shrink-0 dropdown">
						<a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
							<img src="{{ url_for('static', filename='images/avatar.png') }}" width="32" height="32" class="rounded-circle">
						</a>
						<ul class="dropdown-menu dropdown-menu-end text-small shadow">
							<li><a class="dropdown-item disabled" href="#">Profile</a></li>
							<li><hr class="dropdown-divider"></li>
							<li><a id="signout-btn" class="dropdown-item" href="#">Sign out</a></li>
						</ul>
					</div>					

				</div>
			</div>
		</nav>
	</header>

	<main class="flex-shrink-0">

		<div id="analytics-container">

			<!-- Charts -->
			<div id="charts-container" class="container-fluid">
				<div class="row">
					<div class="col"><canvas id="chart0"></canvas></div>
					<div class="col"><canvas id="chart1"></canvas></div>
				</div>
				<div class="row">
					<div class="col"><canvas id="chart2"></canvas></div>
					<div class="col"><canvas id="chart3"></canvas></div>
				</div>
				<div class="row">
					<div class="col"><canvas id="chart4"></canvas></div>
					<div class="col"><canvas id="chart5"></canvas></div>
				</div>
			</div>

			<!-- Analytics -->
			<div id="table-container" class="container-fluid">
				<table class="table">
					<thead>
					  <tr class="table-dark">
						<th scope="col">Ticker</th>
						<th scope="col">Open</th>
						<th scope="col">High</th>
						<th scope="col">Low</th>
						<th scope="col">Close</th>
						<th scope="col">Adj Close</th>
						<th scope="col">Volume</th>
						<th scope="col">Date</th>
					  </tr>
					</thead>
					<tbody id="stock-entries"></tbody>
				  </table>
			</div>

			<div id="close-volume-analysis-container" class="container-fluid">
				<div class="row">
					<div class="col"><canvas id="chartClose"></canvas></div>
					<div class="col"><canvas id="chartVolume"></canvas></div>
				</div>
				<div class="row">
					<div class="col"><canvas id="chartDerivativeClose"></canvas></div>
					<div class="col"><canvas id="chartDerivativeVolume"></canvas></div>
				</div>
			</div>

			<div id="decision-container" class="container-fluid">

				<table class="table">
					<thead>
						<tr class="table-dark">
							<th>Price</th>
							<th>Volume</th>
							<th>Interpretation</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr id="decision1">
							<td>Increases</td>
							<td>Increases</td>
							<td>Strong trend</td>
							<td><strong class="text-success">Consider buying</strong></td>
						</tr>
						<tr id="decision2">
							<td>Increases</td>
							<td>Decreases</td>
							<td>Weak trend</td>
							<td><strong class="text-warning">Caution;</strong> consider selling</td>
						</tr>
						<tr id="decision3">
							<td>Decreases</td>
							<td>Increases</td>
							<td>Strong downward trend</td>
							<td><strong class="text-danger">Consider selling</strong></td>
						</tr>
						<tr id="decision4">
							<td>Decreases</td>
							<td>Decreases</td>
							<td>Weak downward trend</td>
							<td><strong class="text-warning">Caution;</strong> hold position</td>
						</tr>
						<tr id="decision5">
							<td>Remains the same</td>
							<td>Increases</td>
							<td>Potential accumulation/distribution</td>
							<td><strong class="text-success">Consider buying</strong></td>
						</tr>
						<tr id="decision6">
							<td>Remains the same</td>
							<td>Decreases</td>
							<td>Weak trend</td>
							<td><strong class="text-warning">Caution;</strong> consider selling</td>
						</tr>
					</tbody>
				</table>

			</div>
			
		</div>
	</main>

	<script>
		// Update name link
		document.getElementById('name-link').text = user["username"];

		// Get data request
		let ticker = getQueryVariable('ticker');
		let tickers = [ticker];

		getData(tickers, 365).then(data => {

			// Generate charts
			console.log(data);
			generateChart(data, tickers);

			// Load entries in table
			loadEntries(data, tickers);

		}).catch(error => {
			console.error('Error fetching data:', error);
		});

		// Sign out
		document.getElementById('signout-btn').addEventListener('click', function() {
			sessionStorage.setItem('user', null);
			console.log(sessionStorage.getItem('user'))
			window.location.replace("{{ url_for('index') }}");
		});

	</script>
</body>
</html>