<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>stock-analysis</title>

	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

	<script src="{{ url_for('static', filename='js/stock.js') }}"></script>

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">

</head>
<body>

	<header></header>
	<nav></nav>

	<select id="tickers" multiple></select>

	<div class="grid">
		<div class="chart-container"><canvas id="chart0"></canvas></div>
		<div class="chart-container"><canvas id="chart1"></canvas></div>
		<div class="chart-container"><canvas id="chart2"></canvas></div>
		<div class="chart-container"><canvas id="chart3"></canvas></div>
		<div class="chart-container"><canvas id="chart4"></canvas></div>
		<div class="chart-container"><canvas id="chart5"></canvas></div>
	</div>

	<script>

		// Get tickers
		getTickers().then(tickers => {
			const select = document.getElementById('tickers');

			for (const key in tickers.Ticker) {

				const ticker = tickers.Ticker[key];
				const name = tickers.Name[key];

				const option = document.createElement('option');
				option.value = ticker;
				option.textContent = name;

				select.appendChild(option);
			}
		}).catch(error => {
			console.error('Error fetching tickers:', error);
		});

		// Get data
		const selectedTickers = ["AAPL", "MSFT", "GOOGL"];
		const vars = ["Open", "High", "Low", "Close", "Adj Close", "Volume"];

		getData(selectedTickers).then(data => {
		    console.log(data);

			dates = []
			for(let j = 0; j < vars.length; j ++) {

				let v = vars[j];

				prices = []
				for(let i = 0; i < selectedTickers.length; i ++) {

					price = [];

					let ticker = selectedTickers[i];
					let pair = "('" + ticker + "', '" + v + "')";

					for(const key in data[pair]) {
						if(j == 0) dates.push(key);
						price.push(data[pair][key]);
					}

					prices.push(price)
				}

				tickerDatasets = []
				for(let i = 0; i < selectedTickers.length; i ++) {
					tickerDatasets.push({
						label: selectedTickers[i],
						data: prices[i],
						borderWidth: 1
					});
				}

				new Chart(document.getElementById('chart' + j), {
					type: 'line',
					data: {
						labels: dates,
						datasets: tickerDatasets
					},
					options: {
						responsive: true,
						plugins: {
							legend: {
								position: 'top',
							},
							title: {
								display: true,
								text: v
							}
						}
					}
				});
			}

		}).catch(error => {
		    console.error('Error fetching data:', error);
		});

	</script>
</body>
</html>