<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>stock-analysis</title>

	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>

	<script src="{{ url_for('static', filename='js/stock.js') }}"></script>
	<script src="{{ url_for('static', filename='js/ticker_chart.js') }}"></script>

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">

</head>
<body>

	<header></header>
	<nav></nav>

	<select id="tickers" multiple></select>

	<div class="grid">
		<div class="chart-container"><canvas id="chart0"></canvas></div>
		<div class="chart-container"><canvas id="chart1"></canvas></div>
		<div class="chart-container"><canvas id="chart2"></canvas></div>
		<div class="chart-container"><canvas id="chart3"></canvas></div>
		<div class="chart-container"><canvas id="chart4"></canvas></div>
		<div class="chart-container"><canvas id="chart5"></canvas></div>
	</div>

	<script>
		// Get tickers request
		getTickers().then(tickers => {
			const select = document.getElementById('tickers');

			for (const key in tickers.Ticker) {

				const ticker = tickers.Ticker[key];
				const name = tickers.Name[key];

				const option = document.createElement('option');
				option.value = ticker;
				option.textContent = name;

				select.appendChild(option);
			}
		}).catch(error => {
			console.error('Error fetching tickers:', error);
		});

		// Obtain from the select
		const selectedTickers = ["AAPL", "MSFT", "GOOGL"];
		
		// Get data request
		getData(selectedTickers).then(data => {
		    console.log(data);
			generateChart(data, selectedTickers);
		}).catch(error => {
		    console.error('Error fetching data:', error);
		});
	</script>
</body>
</html>